<?xml version="1.0"?>
<model>
  <name>aruco_dock_station</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Perceptron Developer</name>
    <email>dev@todo.todo</email>
  </author>
  <description>
    ArUco Marker Docking Station with Marker ID 42
  </description>
</model>
